body{
font-family: Arial;
text-align:center;
background:#f5f5f5;
}

#number{
font-size:60px;
margin:20px;
color:red;
}

button{
padding:10px 20px;
font-size:20px;
cursor:pointer;
}

ul{
list-style:none;
}
